.section {
  font-size: 24px;  
  height: 600px;
  margin-bottom: 40%;
  gap: 50px;
  width: 100%;
  font-family: 'PT Serif', serif;
}

.learnMoreCards {
  color: #0F2594;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 100%;
}

.reviews {
  font-size: 24px;
  margin-top: 7vh;
  height: 1000px;
  gap: 50px;
  width: 100%;
  font-family: 'PT Serif', serif;
  margin-top: 21%;
}

.sectionAbout {
  font-size: 24px;
  margin-top: 7vh;
  height: 1000px;
  gap: 50px;
  width: 100%;
  font-family: 'PT Serif', serif;
  margin-top: 40%;
}

.title {
  width: 100%;
  font-size: 60px;
  font-family: 'Leotaro', sans-serif; 
  text-align: center;
}

.aboutus {
  text-align: justify;
  font-family: 'PT Serif', serif;
  width: 100%;
  word-break: break-all;
  color: #0F2594;
}

.content {
  font-size:  30px;
  max-width: 90%;
  padding-left: 10%;
  overflow-wrap: break-word;
  word-break: normal; 
}

.btnContainer {
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    gap: 30px;
}

.sectionContacts {
  font-size: 24px;
  margin-top: 7vh;
  height: 1000px;
  gap: 50px;
  width: 100%;
  font-family: 'PT Serif', serif;
  margin-top: 40%;
}

.contacts {
  font-family: 'PT Serif', serif;
  color: #0F2594;
}

.cardContainer{
  display: flex; 
  flex-wrap: nowrap; 
  justify-content: space-between;
  width: 100%; 
  align-items: center;
}

.signs{
  color: #0F2594;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}

.section1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 40%;
}

@media (max-width: 1200px) {
  .title {
    font-size: 40px;
  }
  .content {
    font-size: 25px;
  }
}

@media (max-width: 992px) {
  .title {
    font-size: 30px;
  }
  .content {
    font-size: 25px;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 23px;
  }
  .content {
    font-size: 20px;
  }
}

@media (max-width: 576px) {
  .section {
    height: 300px;
  }
  .title {
    font-size: 17px;
  }
  .content {
    font-size: 12px;
  }
  .sectionAbout {
    height: 600px;
  }
  .sectionContacts {
    height: 600px;
  }
  .reviews {
    height: 600px;
  }
}